body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://as1.ftcdn.net/v2/jpg/05/26/44/86/1000_F_526448611_7sOe0T0EVkYa40PTi9ELhV6MmMCbHuYo.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  /* color: white; */
  background-color: rgb(1, 1, 29) ;
  background-blend-mode:color-dodge;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.imageListItemimg{
  border-color: aliceblue;
  border-radius: 5%;
   border-width: 1px; 
  border-style: solid;

}
.imageListItem{
  border-color: aliceblue;
  border-radius: 1%;
   border-width: 1px; 
  border-style: solid;
  padding: 10px;
}
.cardAppHeader{
  display: flex;
  flex-direction: row;
  justify-content:right;
  align-content: center;
}
.cardLarge{
  border-color: aliceblue;
  border-radius: 1%;
   border-width: 1px; 
  border-style: solid;
}