body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.unsplash.com/photo-1499749143870-d101b3686e3e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat:no-repeat;
  background-size: cover;
  /* color: white; */
  background-color: rgb(1, 1, 29) ;
  background-blend-mode:color-dodge;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.imageListItemimg{
  border-color: aliceblue;
  border-radius: 5%;
   border-width: 1px; 
  border-style: solid;

}
.imageListItem{
  border-color: aliceblue;
  border-radius: 1%;
   border-width: 1px; 
  border-style: solid;
  padding: 10px;
}
.cardAppHeader{
  display: flex;
  flex-direction: column;
  justify-content:right;
  align-content: center;
}
.cardLarge{
  border-color: aliceblue;
  border-radius: 1%;
   border-width: 1px; 
  border-style: solid;
}